* {
	box-sizing: border-box;
}

html,
body {
	background-color: #f1f5f9;
	font-family: sans-serif;
	margin: 0;
	width: 100%;
	height: 100%;

	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header,
footer {
	padding: 1em;
}
main {
	padding: 0 2.5em;
}
