* {
	box-sizing: border-box;
}

html,
body {
	background-color: #f1f5f9;
	font-family: sans-serif;
	margin: 0;
	width: 100%;
	height: 100%;

	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header,
footer {
	padding: 1em;
}
main {
	padding: 0 2.5em;
}

/* nav styles */
.menu {
	background-color: #0d0950;
	border: none;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}

header nav {
	width: 100%;
	display: none;
	margin: 0;
}

header nav a {
	display: block;
	text-align: center;
	padding: 10px 0;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #0d0950;
}

header nav a:hover,
header nav a:focus {
	background-color: #ff9776;
}

:has(.menu[aria-expanded='true']) header nav {
	display: unset;
}

@media screen and (min-width: 636px) {
	header nav {
		margin-left: 5em;
		display: block;
		position: static;
		width: auto;
		background: none;
	}

	header nav a {
		display: inline-block;
		padding: 15px 20px;
	}

	.menu {
		display: none;
	}
}
