---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<div>
		This is a website created with the purpose of learning about <a href="https://astro.build/" target="_blank">Astro</a>.
	</div>
</Layout>
