---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog">
	<div>
		<h2>Blog</h2>
		<p>This is where blog posts should show.</p>
		<h3>Posts</h3>
		<ul>
			<li><a href="/posts/02/">Post 2</a></li>
			<li><a href="/posts/01/">Post 1</a></li>
		</ul>
	</div>
</Layout>
